*{
    margin:0;
    padding: 0;
    
}
body{
    font-family:"微软雅黑"; 
    font-size:16px; 
    color: #673929;

}
#header{
    width: 800px;
    margin:0 auto;
}
#img img{
    width:453px;
    height: 61px;
    margin-top: 30px;
    margin-left: 173.5px;
}
#para{
    width:600px;
    margin-left: 100px;
    margin-top: 50px;    
    margin-bottom: 50px;
    color:black;
    font-size: 18px;
    font-family:宋体;
}
.subheadline,.subheadline1{
    margin-bottom: 30px;
}
#main{
    width: 1000px;
    margin:auto;
    font-family:宋体;
    color:black;

}
#booklist{
    height: 600px;
}
#main h4{
    clear:both;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;

    
}
.book1,.book2,.book3,.book4,
.book5,.book6{
    width: 250px;
    height:300px;
    background:#F6F6F6;
    float: left;
    border:0.5px solid white;
    box-sizing:border-box;

}
.notdone{
    background:#DDCCCC;
}
.book1 img,.book2 img,.book3 img,.book4 img,
.book5 img,.book6 img{
    width:111.5px;
    height: 175px;
    margin-left: 69.25px;
    margin-top:62.5px;
    border:1px solid #BDB5B5;
}
.bookname{
    font-family: calibri;
    font-size: 15px;
    text-align: center;
}
.bookauthor{
    font-family: calibri;
    font-size: 13px;
    text-align: center;
}


#footer{
    height:60px; 
    line-height: 60px;
    font-size: 13px;
    clear:both; /*新加代码*/
    margin-top: 5px;
    text-align: center;
}
#footer a{
    text-decoration: none;
    color:#673929;
}
